[submodule "portrait-to-talking"]
	path = portrait-to-talking
	url = https://github.com/HQIT/portrait-to-talking.git
[submodule "echomimic-api/echomimic_v3"]
	path = echomimic-api/echomimic_v3
	url = https://gh-proxy.org/https://github.com/antgroup/echomimic_v3.git
[submodule "echomimic-api/echomimic_v2"]
	path = echomimic-api/echomimic_v2
	url = https://gh-proxy.com/https://github.com/antgroup/echomimic_v2.git
